- selector_class = "votes_widget_#{parent_obj.class.base_class.name.underscore.gsub(/\//,'__')}_#{parent_obj.id}"
- selector = ".votes_widget.#{selector_class}"
%span.votes_widget{ class: selector_class, data: { params: { parent_obj_type: parent_obj.class.base_class.name, parent_obj_id: parent_obj.id, selector: selector, args: args }.to_json, url: scuttlebutt.widget_votes_path( parent_obj_type: parent_obj.class.base_class.name, parent_obj_id: parent_obj.id, selector: selector, args: args ) } }
	%span.badge.badge-info
		= Scuttlebutt::Vote.where( parent_obj: parent_obj, user: current_user ).sum(:val)
	%strong score
	|
	- if current_user.present?
		- if ( vote = (args[:vote] || Scuttlebutt::Vote.where( parent_obj: parent_obj, user: current_user ).first) ).try(:persisted?)
			- if vote.down?
				%a.btn.btn-default.btn-sm{ href: scuttlebutt.vote_path( vote, val: 1, selector: selector ), data: { method: :put, remote: true } }
					up vote
				\/
			%bold.btn.btn-default.btn-sm.disabled.active
				= vote.val
				vote
			- if vote.up?
				\/
				%a.btn.btn-default.btn-sm{ href: scuttlebutt.vote_path( vote, val: -1, selector: selector ), data: { method: :put, remote: true } }
					down vote
		- else
			%a.btn.btn-default.btn-sm{ href: scuttlebutt.votes_path( parent_obj_type: parent_obj.class.base_class.name, parent_obj_id: parent_obj.id, val: 1, selector: selector ), data: { method: :post, remote: true } }
				up vote
			\/
			%a.btn.btn-default.btn-sm{ href: scuttlebutt.votes_path( parent_obj_type: parent_obj.class.base_class.name, parent_obj_id: parent_obj.id, val: -1, selector: selector ), data: { method: :post, remote: true } }
				down vote
	- else
		%a{ href: '/login' } log in
		to vote
