


.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					%strong
						Contact Admin
						= "(#{pluralize @contacts.total_count, 'Contact'})"

		.col-xs-2
			
	.row
		.col-xs-6
			= raw paginate @contacts
		.col-xs-6


	.row
		.col-xs-12
			%table.table.table-striped.table-hover{ style: 'margin-top: 1em' }
				%thead
					%th
					%th
						User
						%a{ href: contact_admin_index_path( sort_by: 'user_id', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: contact_admin_index_path( sort_by: 'user_id', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down

					%th

					%th
						Created
						%a{ href: contact_admin_index_path( sort_by: 'created_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: contact_admin_index_path( sort_by: 'created_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down

					

					%th Status

					%th
				%tbody
					- @contacts.each do |contact|
						%tr
							%td
								= image_tag contact.user.avatar.to_s, width: 50, class: 'img img-rounded'
							%td
								= contact.user
							

							%td
								%a{ href: edit_contact_admin_path( contact ) }
									= truncate contact.content, length: 480

							%td
								= contact.created_at.strftime( '%B %d, %Y @ %H:%M' )

							%td
								- if contact.active?
									.badge{ class: contact.status }
										Live
								- elsif contact.draft?
									.badge{ class: contact.status }
										Draft
								- elsif contact.active?
									.badge{ class: 'pending' }
										Pending
								- else
									.badge{ class: contact.status }
										= contact.status
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_contact_admin_path( contact.id ) }
												%i.fa.fa-pencil
												Edit
										%li.divider
										%li
											%a{ href: contact_admin_path( contact ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!

