- selector_class = "scuttlebutt_discussion_post_#{post.class.base_class.name.underscore.gsub(/\//,'__')}_#{post.id}"
- selector = ".scuttlebutt_discussion_post.#{selector_class}"
.media.scuttlebutt_discussion_post.mb-3[post]{ class: selector_class }
	- if post.user.respond_to? :url
		%a{ href: post.user.url }
			%img.mr-3{ src: post.user.avatar, style: 'width: 64px;' }
	- else
		%img.mr-3{ src: post.user.avatar, style: 'width: 64px;' }
	.media-body
		.media-byline
			- if post.user.respond_to? :url
				%a{ href: post.user.url }
					%strong
						= post.user
			- else
				%strong
					= post.user
			= time_ago_in_words( post.created_at )
			ago
		.media-text
			- if post.content
				%blockquote.small
					.fr-view= raw post.sanitized_content
		.media-actions
			= render 'scuttlebutt/posts/social_bar', post: post, args: args.merge( selector: selector )
