.media.mb-3[post]
	- if post.user.respond_to? :url
		%a{ href: post.user.url }
			%img.mr-3{ src: post.user.avatar, style: 'width: 64px;' }
	- else
		%img.mr-3{ src: post.user.avatar, style: 'width: 64px;' }
	.media-body
		.media-byline
			- if post.user.respond_to? :url
				%a{ href: post.user.url }
					%strong
						= post.user
			- else
				%strong
					= post.user
			= time_ago_in_words( post.created_at )
			ago
		.media-text
			- if post.content
				%blockquote.small
					= raw post.content
		- unless args[:disable_votes]
			.media-actions
				= render 'scuttlebutt/votes/widget', parent_obj: post, args: {}
