.media.mb-3[comment]
	%img.mr-3{ src: comment.user.avatar, style: 'width: 64px;' }
	.media-body
		- if comment.user.respond_to? :url
			%h6
				%a{ href: comment.user.url }
					= comment.user
		- else
			%h6.mb-0.pb-0
				= comment.user
		.media-text
			- if comment.content
				= raw comment.sanitized_content
		- unless args[:disable_votes]
			.media-actions
				= render 'scuttlebutt/votes/widget', parent_obj: comment, args: {}
				|
				= time_ago_in_words( comment.created_at )
				ago
