- selector_class = "scuttlebutt_comment_#{comment.class.base_class.name.underscore.gsub(/\//,'__')}_#{comment.id}"
- selector = ".scuttlebutt_comment.#{selector_class}"
.media.comment.mb-3[comment]{ class: selector_class }
	%img.mr-3{ src: comment.user.avatar, style: 'width: 64px;' }
	.media-body
		- if comment.user.respond_to? :url
			%h6
				%a{ href: comment.user.url }
					= comment.user
		- else
			%h6.mb-0.pb-0
				= comment.user
		.media-text
			- if comment.content
				.fr-view= raw comment.sanitized_content
		- unless args[:disable_votes]
			.media-actions
				= render 'scuttlebutt/votes/widget', parent_obj: comment, args: {}
				|
				%a.dropdown-item{ href: scuttlebutt.report_post_path( comment, selector: selector ), data: { confirm: 'Are you sure you want to report this?', method: :put, remote: true } } report
				|
				= time_ago_in_words( comment.created_at )
				ago
