
.media
	- if args[:async] && current_user
		%img.mr-3{ src: current_user.avatar, style: 'width: 64px;' }
	- else
		%img.mr-3{ src: 'data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', style: 'width: 64px;' }
	.media-body
		%h5.mb-0 LEAVE A COMMENT
		= form_for Scuttlebutt::Comment.new( parent_obj: parent_obj, user: current_user ), as: :post, url: scuttlebutt.comments_path( args: args[:widget] ), remote: true do |f|

			- unless current_user.present?
				= render 'application/register_then'
			= hidden_field_tag :selector, args[:selector]
			= f.hidden_field :type
			= f.hidden_field :parent_obj_type
			= f.hidden_field :parent_obj_id
			= f.hidden_field :status, value: 'active'
			.form-group.mb-1
				.form-control.form-control-wysiwyg-inline
					= f.text_area :content, class: 'form-control wysiwyg-inline', placeholder: 'start typing...', data: { wysiwyg: { height_min: 50, toolbar_preset: 'comment', placeholder: 'start typing', object_class: parent_obj.class.base_class.name, object_id: parent_obj.id }.to_json }
			.form-group.mb-0
				= f.submit 'Add', class: 'btn btn-primary'
