.container
	.row
		.col-12
			%h2.mb-0=@topic.subject
			%nav
				%ol.breadcrumb
					%li.breadcrumb-item
						%a{ href: scuttlebutt.discussions_path }
							Discussions
					%li.breadcrumb-item
						%a{ href: scuttlebutt.discussion_path( @discussion ) }
							= @discussion
					%li.breadcrumb-item.active
						= @topic
			.media.mb-3

				- if @topic.user.respond_to? :url
					%a{ href: @topic.user.url }
						%img.mr-3{ src: @topic.user.avatar, style: 'width: 64px;' }
				- else
					%img.mr-3{ src: @topic.user.avatar, style: 'width: 64px;' }
				.media-body
					.media-byline
						- if @topic.user.respond_to? :url
							%a{ href: @topic.user.url }
								%strong
									= @topic.user
						- else
							%strong
								= @topic.user
						= time_ago_in_words( @topic.created_at )
						ago
					.media-text
						- if @topic.content
							%blockquote.small
								= raw @topic.sanitized_content
					.media-actions
						= render 'scuttlebutt/votes/widget', parent_obj: @topic, args: {}

					.media-form.mt-4
						- if current_user.present?
							.media
								%img.mr-3{ src: current_user.avatar, style: 'width: 64px;' }
								.media-body
									%h5.mb-0 Quick Reply
									= render 'scuttlebutt/discussion_posts/form', topic: @topic, args: {}
						- else
							%p
								%a{ href: '/login' } Login
								to comment


					.list-unstyled
						- @posts.each do |post|
							= render 'scuttlebutt/discussion_posts/post', post: post, args: {}

						= raw paginate @posts



= render 'scuttlebutt/discussion_posts/new_modal'
